.fl{float:left}
.common-bdr{
    text-align: left;
    border: 1px solid #F2F2F2;
}

.btn.btn-success{
    background-color: #1dc9b7!important;
}
.grn-shadow:hover{
    box-shadow: 0 4px 16px 0 #93d3a2;
}

.button {
    border-radius: 4px;
    background-color: #1dc9b7;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.active-select{
    border: 2px solid #87d6eb!important;
    background-color: #87d6eb !important;
    border-radius: 5px;
}

table > thead > tr > th {background-color: #F2F4F4;}
